.dropdown-menu,
.hero-unit.posts-filler span,
.home-page .ourstuff a,
.label.label-transparent,
.nav-collapse,
.navbar .nav li a,
.row-fluid,
.shortcuts.shortcuts.modal.hide.fade.in,
.span3,
body,
div.hero-unit.no-posts
{
    background: #2D2D2D;
    color: #F1F1F1
}

.nav-list li.nav-header a,
.nav-list li.nav-header a:focus,
.nav-list li.nav-header a:hover {
    color: #0099CC !important;
    font-size: 12px
}

.container > .row-fluid {
    height: 58px
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #2D2D2D
}

.dropdown-menu > li > a,
.post .content {
    color: #F1F1F1 !important
}

.dropdown-menu > li > a:hover {
    background: #2D2D2D !important
}

.navbar .nav li .dropdown-menu {
    background: 0;
    border: 0 none;
    border-radius: 0
}

.page-header {
    border-bottom: 0 solid #1e1e1e
}

.well {
    background: rgba(0, 0, 0, .1);
    border: 0
}

.home-page dl dd p a,
.nav-list li a,
.post h3 a,
a {
    color: #F1F1F1
}

.home-page .ourstuff ul:first-child li:first-child a,
.nav-list li.active a,
.nav-list li.active a:hover,
a {
    color: #0099CC
}

.nav-list li a:hover,
.nav-list strong:hover,
a.li:hover,
a.social:hover,
a:hover {
    color: #F1F1F1 !important;
    text-decoration: underline;
    text-shadow: 0 0 2px #0099CC !important
}

.post.unread {
    border-left: 4px solid #0099CC !important;
    padding: 10px 10px 10px 20px
}

.post.unread .content {
    color: #888!important
}

.post {
    padding: 10px 10px 10px 20px
}

.label.label-social,
element.style {
    background-color: #0099CC
}

.reader .floating {
    background: transparent;
    padding: 5px 0 10px
}

.badge,
.badge.badge-info,
.nav-list li.active a:not(.i):before,
.post .btns .likes a,
element.style,
span.badge {
    background-color: #0099CC !important;
    border: 1px solid #0099CC;
    color: #FFFFFF
}

.btn.active,
.btn.disabled,
.btn:active,
.btn:focus,
.btn:hover,
.label.label-feed {
    background-color: #0099CC;
    color: #FFFFFF
}

.nano > .pane > .slider,
a.btn.btn-primary.btn-small {
    background: #0099CC
}

.subscribe .btn-primary {
    background: #005875;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #F1F1F1;
    padding: 8px 20px
}

.btn-primary,
.subscribe {
    background: #2D2D2D
}

.nav-list li.active a:not(.i):before,
.nav-list li.nav-header.active a:not(.i):before {
    border-left: 3px solid #0099CC
}

.btn,
.btn.btn-small.btn-read {
    background-color: #005875;
    background-image: none;
    border: 0;
    color: #F1F1F1;
    text-shadow: none
}

.btn.btn-small.btn-read:hover,
a.btn.btn-mini.unsubscribe.external:hover,
a.btn.btn-small.btn-like:hover,
a.btn.btn-small.btn-share:hover,
a.btn.btn-small.read:hover,
a.btn.btn-small.refresh:hover,
a.btn.btn-small.settings.has-tooltip:hover,
a.btn.btn-small.settings:hover,
button.btn.btn-small.post-down:hover,
button.btn.btn-small.post-up:hover {
    background-color: #0099CC;
    color: #FFFFFF;
    text-shadow: none !important
}

input.input-xlarge.search-query {
    background: #2D2D2D;
    border: 1px solid #0099CC;
    color: #F1F1F1
}

input.input-xlarge.search-query:focus {
    -moz-box-shadow: 0 0 30px 0 #0099CC;
    -webkit-box-shadow: 0 0 30px 0 #0099CC;
    background: #2D2D2D;
    border: 1px solid #0099CC;
    box-shadow: 0 0 30px 0 #0099CC;
    color: #F1F1F1
}

.post hr {
    background-color: #0099CC;
    border: 0;
    height: 1px;
    margin: 8px;
    padding: 0
}

pre code {
    background-color: transparent;
    color: green;
    font-weight: 700;
    padding: 0
}

code,
pre {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #000;
    border-radius: 4px;
    color: green;
    display: block;
    font-weight: 700;
    word-break: normal;
    word-wrap: break-word
}

.post blockquote {
    background-color: rgba(0, 0, 0, .1);
}

.well blockquote {
    border-color: #0099CC;
    padding: 15px
}