/*               *
 *               *
 * Hover Top Bar *
 *               *
 *               */

div.navbar-fixed-top:not(:hover) {
    margin-top: -50px !important
}

div.container-fluid {
    margin-top: -54px !important
}

.navbar .navbar-inner {
    background-color: /*[[background]]*/;
    border-bottom: 1px solid /*[[highlight]]*/
}