/*                       *
 *                       *
 * OEM style blockquote  *
 *                       *
 *                       */

.post blockquote,
.well blockquote {
	background-color: rgba(0,0,0,.1);
	border-color: /*[[highlight]]*/;
	padding: 15px
}